@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
  background-color: rgb(255, 216, 216)

}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

p{
  font-size: 12px;
}
h1{
  font-size: 26px;
  padding-bottom:20px;
}
h2{
  font-size: 22px;
}
h3{
  font-size: 18px;
}
