@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  /* background-color: rgb(240, 240, 240); */
  background-color: #ffffff;
}

/* header {
} */

.header-page {
  background-color: #3399ff;
  padding-top: 2%;
  margin-bottom: 0%;
  padding-bottom: 1%;

}

.p-head {
  border-left: 18px;
  font-size: x-small;
  color: rgb(203, 199, 199);
  margin-top: 4px;
  margin-bottom: 0px;

}

.logo {
  float: left;
  color: white;
  filter: contrast(200%) saturate(30%);
  height: 40px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top: -8px;
  margin-left: 40px;
}

.menu {
  display: flex;
  margin-top: -1px;
  margin-bottom: 0px;
  padding: 0px;
  width: auto;
  height: 30px;
  list-style: none;
  flex-direction: column-reverse;
  background-color: #3a3838;

}

.btn-li {
  background-color: #3a3838;
  flex-grow: 1;
}

.btn-li {
  float: right;
  padding: 0px 7px;
  margin-bottom: -1%;
  margin-top: -8px;
  margin-right: 20px;
  border: 1px solid rgb(203, 199, 199);
  border-radius: 25px;
  cursor: pointer;
  text-align: center;
  font-size: small;
  text-decoration: none;
  list-style-type: none;
  width: auto;
  height: 15px;
}

.btn-li:hover {
  background-color: #0056b3;
}

.active {
  color: rgb(203, 199, 199);
  text-decoration: none;

}

/**/
/* --------Seccion prinsipal--------- */
#sec-titulo {
  display: grid;
  grid-template-columns: auto;
  gap: 1px;
  /* margin: top rigth bottom left */
  margin: -40px 40px 0px 40px;
}

#sec-titulo h2 {
  display: block;
  font-size: 60px;
  text-align: left;
  margin-bottom: 0px;

}

#sec-titulo p {
  color: #3a3838;
  display: block;
  font-size: large;
  grid-row: 2;
}

/* #sec-titulo h2 p{
} */

#sec-titulo img {
  display: block;
  width: 600px;
  height: 460px;

  grid-row: 2;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: -60px;
}


/* ----------seccion botones paso / generales------ */
#sec-contenido {
  background-color: #f4f8ff;
  display: flex;
  flex-direction: column;
}

#sec-contenido p {
  color: #3a3838;
  margin-top: -20px;
  padding-bottom: 10px;
}
.pasoGenerales{
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  justify-content: space-around;
}


.paso, .generales{
  color: white;
  margin:10px;
  padding: 20px 590px 20px 10px;
  border: 1px solid white;
  border-radius: 20px 20px 0px 0px;
  font-size: 40px;
  
  font-weight: bold; 
  cursor: pointer;
}


.paso {
  background-color: #ee3d8f;

}
.paso:hover {
  background-color: #c93479;
}

.generales {
  background-color: #37bbed;
  
}
.generales:hover{
  background-color: #30a2cc;
  
}


/* --------seccion footer--------- */
.footer{
  background-color: #333333;
}


