@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
}

/* header {
} */

.header-page {
  background-color: #3399ff;
  padding-top: 2%;
  margin-bottom: 0%;
  padding-bottom: 1%;


}

.p-head {
  border-left: 18px;
  font-size: x-small;
  color: rgb(203, 199, 199);
  margin-top: 4px;
  margin-bottom: 0px;

}

.logo {
  float: left;
  color: white;
  filter: contrast(200%) saturate(30%);
  height: 40px;
  margin-right: 5px;
  margin-bottom: 0px;
  margin-top:-8px;
  margin-left:40px;
}

.menu {
  display: flex;
  justify-content: flex-end; /* Alinea los elementos del menú a la derecha */
  margin-top: -1px;
  margin-bottom: 0px;
  padding: 0px;
  width: auto;
  height: 40px;
  list-style: none;
  background-color: #3a3838;

  }

  .btn-li {
    float: right;
    display: flex;
    align-items: center;
    margin-left: auto; 
  }

  .btn-li a {
    background-color: #3a3838;
    border: 1px solid rgb(203, 199, 199);
    border-radius: 15px;
    cursor: pointer;
    text-align: center;
    font-size: small;
    text-decoration: none;
    color: rgb(203, 199, 199);
    padding: 5px 10px;
    display: flex;
    align-items: center;
    margin-top: -9px;
    margin-left: -180px;
  } 

  .btn-li a:hover {
    background-color: #0056b3;
    color: white;
    text-decoration: none;
  }

.active {
  color:rgb(203, 199, 199);
  text-decoration: none;

}

/**/
