@import "/css/common.css";

button {
  background-color: var(--gris-claro);
  color: white;
  font-size: 10;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  text-transform: uppercase;
}
button:hover {
  color: var(--textos);
}

#consultar {
  text-decoration: none;
  border: none;
}
#consultar:hover {
  background-color: transparent;
}


.mesa-comp {
  background-color: var(--celeste);
}

.electores {
  background-color: var(--magenta);
}

.escrutado {
  background-color: var(--morado);
}
.mesa-comp,
.electores,
.escrutado {
  border-radius: 5px;
  margin: 2px;
  width: 160px;
  height: 80px;
  font-size: 10px;
  display: grid;
  grid-template-columns: auto auto;
}
.mesa-comp p,
.electores p,
.escrutado p {
  color: #fff;
}

.paso-gen {
  display: flex;
}

#carteles {
  display: flex;
  flex-direction: column;

  width: 500px;
  margin: 20px auto;
  padding: 15px;
  color: #ffffff;
  font-size: 200px;
  text-align: center;
}
#carteles div {
  margin: 10px;
}
#exito,
#error,
#adver {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-radius: 10px;
}
#exito {
  background-color: var(--mensaje-usuario-verde);
}

#error {
  background-color: var(--mensaje-usuario-rojo);
}

#adver {
  background-color: var(--mensaje-usuario-amarillo);
}
#exito i,
#error i,
#adver i {
  font-size: 24px;
  margin-right: 10px;
}

#sec-contenido {
  border: solid var(--borde-Grilla) 1px;
  width: 1024px;
  margin: 0px auto 50px auto;
  border-radius: 15px;
  border-collapse: collapse;
  background-color: rgb(250, 250, 250);
}

tr th {
  text-align: center;
  color: var(--titulo-Grilla);
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: capitalize;
  border-bottom: 1px solid var(--borde-inferior-Grilla);
  width: 20%;
}
svg {
  width: 200px;
}

tbody tr {
  background-color: rgb(250, 250, 250);
}

tbody tr td {
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid var(--borde-inferior-Grilla);
  /* padding: 15px 0px; */
  /* width: 25%; */
}
table {
  /* display: grid; */
  /* grid: 100px 100px; */
  /* height: 325px; */
  overflow-y: auto;
  padding: 5px;
  font-size: 10px;
  color: var(--textos);
}

#btn-paso{
  background-color: var(--magenta);
}

#btn-generales{
  background-color: var(--celeste);
}
#btn-paso:hover,#btn-generales:hover{
  background-color: var(--gris-claro);
}

.texto-elecciones-chico{
  color: var(--textos);
  font-weight: bold;
  font-size: 12px;
}
.texto-path-chico{
  font-size:11px;
  color:var(--celeste)
}
